@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100;
  }

  @layer utilities {
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 8s linear infinite;
  }
}


}
